.form {
  display: none;
}

.active {
  display: grid;
}

body {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body__wrapper {
  background-color: blueviolet;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.app__heading {
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: 100;
}

button {
  min-width: 150px;
  max-width: 250px;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: rgb(181, 135, 225);
  color: white;
}

.form {
  grid-template-columns: 1fr 1fr;
  color: white;
  gap: 10px;
  align-items: center;
  border: 2px solid white;
  padding: 30px;
}

ol {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete {
  min-width: none;
  width: 100px;
  max-height: fit-content;
}

li {
  display: grid;
  grid-template-columns: 500px 40px;
  gap: 20px;
}
